body{ display: flex;
      justify-content: center; 
      align-items: center; 
      height: 100vh; 
      margin: 0;background: rgb(113, 44, 131); 
      font-family: 'Open Sans', sans-serif; 
      background-image: url('https://source.unsplash.com/1920x1080/?nature,water'); 
      font-size : 120%;
    }

.card{
  background:#000000d0; 
  color :aliceblue ; 
  padding: 2em; 
  border-radius: 30px; 
  width: 100%; 
  max-width: 420px; 
  margin: 1em;
}

.search {
  display :flex;
  align-items: center;
  justify-content: center;
}

input.search-bar {
  justify-content:space-around; 
  display:flex;
  align-items: center; 
  border: none; 
  outline: none; 
  padding: 0.5em 1em; 
  border-radius: 24px;
  background: #7c7c7c2b; 
  color: azure; 
  font-family: inherit; 
  font-size: 105%; 
  width: calc(100%-100px); 
  cursor: pointer ;
  transition :0.2s ease-in-out;
}

button {
  margin:0.5em ; 
  border-radius: 50%; 
  border: none; 
  height:44px; 
  width: 44px; 
  outline : none; 
  background: #7c7c7c2b; 
  color: white; 
  cursor: pointer; 
  transition: 0.2s ease-in-out;
}

h1.temp{
  margin:0;
}

button :hover{
  background: #7c7c7c6b;
} 

.description{
  text-transform: capitalize;
}

.container{
  font-family: 'Open Sans', sans-serif;;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  background:#10101ed0; 
  width : 270px;
  padding: 15px 10px;
  border: 3px solid #2E94e3;
  border-radius: 5px;
}