body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(rgba(113, 44, 131, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://source.unsplash.com/1920x1080/?nature,water") no-repeat center
      center fixed;
  background-size: cover;
  font-size: 16px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 1em;
}

.clock {
  background: #10101ed0;
  font-weight: bold;
  font-size: 2em;
  padding: 15px 10px;
  border: 3px solid #2e94e3;
  border-radius: 5px;
  margin-bottom: 1em;
  text-align: center;
}

.display2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  background: #000000d0;
  padding: 2em;
  border-radius: 30px;
  width: 45%;
  box-sizing: border-box;
}

.weather-card {
  margin-right: 1em;
}

.uv-chart-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uv-chart-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

input.search-bar {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: #fff;
  font-family: inherit;
  font-size: 1em;
}

button {
  margin-left: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0.5em 0;
  font-size: 2em;
}

.description {
  text-transform: capitalize;
  margin-bottom: 1em;
}

.uv-recommendation {
  margin-top: 1em;
  text-align: center;
}

@media (max-width: 768px) {
  .display2 {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 1em;
  }

  .weather-card {
    margin-right: 0;
  }
}